
.grid{
    border: 1px solid black;
    height: 270px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
   
}

.grid div {
    height:30px;
    width: 30px;
}

div{
    height: 30px;
    width: 30px;
}

/* .main {
    margin-left: 50px;
} */

.ending-block{
    background-image: url('frogGirl.jpg');
  background-size: cover;
}
.starting-block{
    background-color: blue;
}

/* .log-left, .log-right{
    background-color: lightblue;
} */

.car-left{
    background-color: gray;
}

.car-right{
    background-color: gray;
}

.l1, .l2, .l3{
    background-color: brown;
}

.l4, .l5{
    background-color: lightblue;
}

.c1{
    background-image: url('car.jpg');
    background-size: cover;
    background-color:gray;
}
.c2, .c3{
    background-color: gray;
}

.frog{
    background-image: url('frog.png');
  background-size: cover;
}